<div class="navigation noprint">

    <div class="left">
       <a href="/"><p>Shirty</p></a>
    </div>
    <div class="right">
        <p>Got a shirt ID?</p>
            <form method="POST" action="/read">
                <input type="text" name="user[id]" id="id" required><br>

                <input class="button" type="submit" value="Search shirt">
            </form>
    </div>
</div>