<%- include('partials/head') %>


<h1> Make your T-shirt! </h1>
<section>
    <form method="post" action="/">
        <label for="text">Text</label>
        <input type="text" id="textInput"name="user[text]" id="text" value="Awesome quote" maxlength="13" required><br>

        <p> Color:</p>
        <input type="radio" id="red" name="user[color]" value="red">
        <label for="red">Red</label><br>
        <input type="radio" id="blue" name="user[color]" value="blue">
        <label for="blue">Blue</label><br>
        <input type="radio" id="orange" name="user[color]" value="orange">
        <label for="orange">Orange</label><br>
        <input type="radio" id="green" name="user[color]" value="green">
        <label for="green">Green</label><br><br>


        <input type="submit" value="Submit">
    </form>
     <div class="svg">
      <!--  <svg width="300" height="300" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 320.769 291.483"
            style="enable-background:new 0 0 320.769 291.483;" xml:space="preserve">
            <style type="text/css">
                .st0 {
                    fill: purple;
                    stroke: #fff;
                    stroke-width: 2;
                    stroke-miterlimit: 10;
                }
            </style>
            <polygon id="XMLID_1_" class="st0" points="46.305,56.483 103.305,5.483 151.305,50.483 208.945,1.483 319.305,163.483 
241.305,203.483 196.305,102.483 215.305,290.483 76.305,290.483 110.305,115.483 53.305,174.483 1.305,101.483 " />
        </svg> -->
        <svg width="300" height="300" version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 312.5 424.1"
    style="enable-background:new 0 0 312.5 424.1;" xml:space="preserve">
    <style type="text/css">
      .st0 {
        fill: purple;
        stroke: #fff;
        stroke-miterlimit: 10;
      }
    </style>
    <path id="XMLID_55_" class="st0" d="M264.2,28.1c0,0-60.2-41.1-154.9-23c-19.7,3.8-41,10.1-63.5,20c0,0-30.3,10-45.3,102
   c0,0,31,10,52,10.3c0,0,1.4-7.4,2-5.2s10.5,85.9-4,279.4c0,0,132.5,27,208,0c0,0-13-215-6-282c0,0,1-12.6,3.9-0.2
   c2.9,12.4,33.9,0.8,55.4-4.9C311.9,124.5,301.6,52.4,264.2,28.1z" />
    <path id="XMLID_57_" class="st0"
      d="M199,4.2c0,0,16.7,20.1-35.2,28.4c-8,1.3-16.1,1.2-24.1-0.3c-13.6-2.6-31.9-9.4-30.9-27.1" />
  </svg>

        <p id="shirtText">Awesome quote </p>
    </div>
</section>

<h2>Allready made a shirt?</h2>
<section>
    <form method="POST" action="/read">
        <label for="id">Shirt ID</label>
        <input type="text" name="user[id]" id="id" required><br>

        <input type="submit" value="Submit">
</section>


<%- include('partials/footer') %>