<%- include('partials/head') %>


<h1> Make your T-shirt! </h1>

<form method="post" action="/">
    <label for="color">Color</label>
    <input type="text" name="user[color]" id="color">
    <input type="submit" value="Submit">
</form>


<%- include('partials/footer') %>