@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{ font-family: 'Roboto', sans-serif;}
body{ 
    background-color: grey;
    background-image :url("/img/bg.jpg");
    background-color: purple;
    margin: 0;
    }
h1,h2{ color: #fff; text-align: center;}
section{ 
    display: flex; 
    justify-content: space-evenly;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    border: 2px solid #fff;
    padding: 1em;
    width: 90%;
    margin: auto;
    }


form{ color: #fff;}
input#text {
    height: 30px;
    border: none;
    color: #fff;
    padding: 0 .5em;
    background-color: #445D6B;
}
fieldset {
    border: none;
    border-bottom: 2px solid #445D6B;
    margin: 15px 0
    ;
}
legend {
    color: #fff;
}
.button{
    font-family:'Roboto', sans-serif;
    font-size: 1.2em;
    background-color: purple;
    color: #fff;
    border: none;
    padding: .3em;
    transition: 300ms;
    border: 2px solid #000;
}
.button:hover{
    background-color: #000;
    border: 2px solid purple;
}
.navigation .button {
    font-size: 1em;
}

svg {
    margin: auto;
    display: block;
}
.svg p {
    text-align: center;
    top: -150px;
    position: relative;
    color: #fff;
    min-height: 19px;
}

a{ color: #fff;}

.navigation {
    color: #fff;
    background: purple;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    padding: 1em;
}
.navigation p{
    margin: 0;
    Font-size: 2em;
    font-family: 'Roboto', sans-serif;
}
.navigation a{ 
    text-decoration: none;
}

.left, .right{ width: 50%;}

.right {
    display: flex;
    justify-content: space-around;
}

@media print
{
.noprint {display:none;}
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {
 
}

@media only screen and (max-width: 600px) {
    .left, .right{ width: 100%;}
    form{ width: 100%; }
    .svg{ width: 100%; }
    section, .navigation {
        flex-wrap: wrap;
    }
    .navigation{
        justify-content: center;
    }
}